### Пополнување на вредностите за month

In [52]:
import pandas as pd

In [53]:
df = pd.read_csv('dataset/Spenser_1.tsv', sep='\t')
df

,CustomerID,Calendarday,month,PerformanceEvaluationPlanned,PerformanceEvaluationExecuted,PerformanceEvaluationAdHoc,TERRID,SAPECCSalesGroup,SAPECoeficient,APECoeficient,FPECoeficient,SAMEDAYVISIT,OVERDUE,UNDERDUE,OK,NOTOK,STATUS,V22,OVERDUEDAYS,TRESHOLD
0,100000136,5/1/2017,5,0,,,Employee 44,Team 1,,,,,,,,,,,,
1,100000136,5/4/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
2,100000136,5/8/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
3,100000136,5/11/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,ok,,ok,ok,,",15"
4,100000136,5/12/2017,,,,,,,,"79,4975","90,9875",,,,,,,not ok,,",15"
5,100000136,5/15/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
6,100000136,5/18/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
7,100000136,5/22/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
8,100000136,5/25/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
9,100000136,5/29/2017,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
10,100000136,6/1/2017,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
11,100000136,6/5/2017,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
12,100000136,6/8/2017,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
13,100000136,6/12/2017,6,1,1,,Employee 44,Team 1,"92,8625",,"92,6328125",,,,,,,not ok,,",15"
14,100000136,6/15/2017,6,1,1,,Employee 44,Team 1,"94,75",,"92,6328125",,,,,,,not ok,,",15"
15,100000136,6/19/2017,6,0,,,Employee 44,Team 1,,,,,,,,,,,,
16,100000136,6/22/2017,6,1,1,,Employee 44,Team 1,"94,75",,"92,6328125",,,,,,,not ok,,",15"
17,100000136,6/26/2017,6,0,,,Employee 44,Team 1,,,,,,,,,,,,
18,100000136,6/29/2017,6,1,1,,Employee 44,Team 1,"94,75",,"92,6328125",,,,,,,not ok,,",15"
19,100000136,7/3/2017,7,1,1,,Employee 44,Team 1,"94,75",,"95,375",,,,,,,not ok,,",15"
20,100000136,7/6/2017,7,1,1,,Employee 44,Team 1,"94,75",,"95,375",,,,,,,not ok,,",15"
21,100000136,7/10/2017,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
22,100000136,7/13/2017,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
23,100000136,7/17/2017,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
24,100000136,7/20/2017,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
25,100000136,7/24/2017,7,1,1,,Employee 44,Team 1,96,,"95,375",,,,,,,not ok,,",15"
26,100000136,7/27/2017,7,1,1,,Employee 44,Team 1,96,,"95,375",,,,,,,not ok,,",15"
27,100000136,7/31/2017,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
28,100000136,8/3/2017,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
29,100000136,8/7/2017,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140167,100024705,10/25/2017,10,1,1,,Employee 57,Team 7,"62,81",,"59,87",,,,,,,not ok,,",15"
140168,100024705,11/1/2017,11,1,1,,Employee 57,Team 7,"57,86",,"64,21",,,,,,,not ok,,",15"
140169,100024705,11/8/2017,11,1,1,,Employee 57,Team 7,"66,3266666666667",,"64,21",,,,,,,not ok,,",15"
140170,100024705,11/15/2017,11,1,1,,Employee 57,Team 7,"66,3266666666667",,"64,21",,,,,,,not ok,,",15"
140171,100024705,11/22/2017,11,1,1,,Employee 57,Team 7,"66,3266666666667",,"64,21",,,,,,,not ok,,",15"
140172,100024705,11/29/2017,12,1,1,,Employee 57,Team 7,"53,5266666666667",,"56,1841666666667",,,,,,,not ok,,",15"
140173,100024705,12/6/2017,12,0,,,Employee 57,Team 7,,,,,,,,,,,,
140174,100024705,12/13/2017,12,1,1,,Employee 57,Team 7,"44,6408333333333",,"56,1841666666667",,,,,,,not ok,,",15"
140175,100024705,12/20/2017,12,1,1,,Employee 57,Team 7,"46,0491666666667",,"56,1841666666667",,,,,,,not ok,,",15"
140176,100024705,12/27/2017,12,1,1,,Employee 57,Team 7,"80,52",,"56,1841666666667",,,,,,,not ok,,",15"
140177,100024706,8/16/2017,8,0,,,Employee 59,Team 7,,,,,,,,,,,,
140178,100024706,8/23/2017,8,0,,,Employee 59,Team 7,,,,,,,,,,,,
140179,100024706,8/30/2017,9,1,1,,Employee 59,Team 7,"40,59",,"43,89",,,,,,,not ok,,",15"
140180,100024706,9/6/2017,9,1,1,,Employee 59,Team 7,"40,59",,"43,89",,,,,,,not ok,,",15"
140181,100024706,9/13/2017,9,1,1,,Employee 59,Team 7,"42,09",,"43,89",,,,,,,not ok,,",15"
140182,100024706,9/20/2017,9,0,,,Employee 59,Team 7,,,,,,,,,,,,
140183,100024706,9/27/2017,9,1,1,,Employee 59,Team 7,"52,29",,"43,89",,,,,,,not ok,,",15"
140184,100024706,10/4/2017,10,1,1,,Employee 59,Team 7,"52,29",,"55,2233333333333",,,,,,,not ok,,",15"
140185,100024706,10/11/2017,10,0,,,Employee 59,Team 7,,,,,,,,,,,,
140186,100024706,10/18/2017,10,1,1,,Employee 59,Team 7,"52,29",,"55,2233333333333",,,,,,,not ok,,",15"
140187,100024706,10/25/2017,10,1,1,,Employee 59,Team 7,"61,09",,"55,2233333333333",,,,,,,not ok,,",15"
140188,100024706,11/1/2017,11,1,1,,Employee 59,Team 7,"62,89",,"52,38375",,,,,,,not ok,,",15"
140189,100024706,11/8/2017,11,1,1,,Employee 59,Team 7,"40,815",,"52,38375",,,,,,,not ok,,",15"
140190,100024706,11/15/2017,11,1,1,,Employee 59,Team 7,"40,815",,"52,38375",,,,,,,not ok,,",15"
140191,100024706,11/22/2017,11,1,1,,Employee 59,Team 7,"65,015",,"52,38375",,,,,,,not ok,,",15"
140192,100024706,11/29/2017,12,0,,,Employee 59,Team 7,,,,,,,,,,,,
140193,100024706,12/6/2017,12,1,1,,Employee 59,Team 7,"39,5775",,"44,3275",,,,,,,not ok,,",15"
140194,100024706,12/13/2017,12,1,1,,Employee 59,Team 7,"39,5775",,"44,3275",,,,,,,not ok,,",15"
140195,100024706,12/20/2017,12,1,1,,Employee 59,Team 7,"39,5775",,"44,3275",,,,,,,not ok,,",15"
140196,100024706,12/27/2017,12,1,1,,Employee 59,Team 7,"58,5775",,"44,3275",,,,,,,not ok,,",15"

#### Пополнување на вредностите за month на местата каде што е извршена контрола.

Секој ден во дадена година според 4-4-5 форматот припаѓа на точно еден месец.

In [54]:
day = list(df.Calendarday)
month = list(df.month)

In [55]:
cnt = 0

for i in range(1, len(month)-1):
    if month[i] == ' ':
        if month[i-1] == month[i+1]:
            month[i] = month[i-1]
        else:
            cnt += 1

print(cnt)

1099

In [56]:
calendar = dict()

for i in range(len(month)):
    if month[i] != ' ':
        calendar[day[i]] = month[i]

In [57]:
cnt = 0

for i in range(len(month)):
    if month[i] == ' ':
        if day[i] in calendar.keys():
            month[i] = calendar[day[i]]
        else:
            cnt += 1
            
print(cnt)

2

In [58]:
df.month = pd.Series(month)

In [59]:
df[df['month'] == ' ']

,CustomerID,Calendarday,month,PerformanceEvaluationPlanned,PerformanceEvaluationExecuted,PerformanceEvaluationAdHoc,TERRID,SAPECCSalesGroup,SAPECoeficient,APECoeficient,FPECoeficient,SAMEDAYVISIT,OVERDUE,UNDERDUE,OK,NOTOK,STATUS,V22,OVERDUEDAYS,TRESHOLD
79841,100008337,4/29/2017,,,,,,,"56,8163333333333",,"52,0765555555556",,,,,,,not ok,,",15"
80936,100008505,9/24/2017,,,,,,,,"91,5","90,65",,,,,,,not ok,,",15"

In [60]:
calendar

{'10/10/2017': '10',
 '10/11/2017': '10',
 '10/12/2017': '10',
 '10/13/2017': '10',
 '10/14/2017': '10',
 '10/16/2017': '10',
 '10/17/2017': '10',
 '10/18/2017': '10',
 '10/19/2017': '10',
 '10/2/2017': '10',
 '10/20/2017': '10',
 '10/21/2017': '10',
 '10/22/2017': '10',
 '10/23/2017': '10',
 '10/24/2017': '10',
 '10/25/2017': '10',
 '10/26/2017': '10',
 '10/27/2017': '10',
 '10/29/2017': '11',
 '10/3/2017': '10',
 '10/30/2017': '11',
 '10/31/2017': '11',
 '10/4/2017': '10',
 '10/5/2017': '10',
 '10/6/2017': '10',
 '10/7/2017': '10',
 '10/9/2017': '10',
 '11/1/2017': '11',
 '11/10/2017': '11',
 '11/11/2017': '11',
 '11/13/2017': '11',
 '11/14/2017': '11',
 '11/15/2017': '11',
 '11/16/2017': '11',
 '11/17/2017': '11',
 '11/18/2017': '11',
 '11/19/2017': '11',
 '11/2/2017': '11',
 '11/20/2017': '11',
 '11/21/2017': '11',
 '11/22/2017': '11',
 '11/23/2017': '11',
 '11/24/2017': '11',
 '11/27/2017': '12',
 '11/28/2017': '12',
 '11/29/2017': '12',
 '11/3/2017': '11',
 '11/30/2017': '12',
 '11/4/2017': '11',
 '11/5/2017': '11',
 '11/6/2017': '11',
 '11/7/2017': '11',
 '11/8/2017': '11',
 '11/9/2017': '11',
 '12/1/2017': '12',
 '12/11/2017': '12',
 '12/12/2017': '12',
 '12/13/2017': '12',
 '12/14/2017': '12',
 '12/15/2017': '12',
 '12/16/2017': '12',
 '12/17/2017': '12',
 '12/18/2017': '12',
 '12/19/2017': '12',
 '12/2/2017': '12',
 '12/20/2017': '12',
 '12/21/2017': '12',
 '12/22/2017': '12',
 '12/23/2017': '12',
 '12/24/2017': '12',
 '12/25/2017': '12',
 '12/26/2017': '12',
 '12/27/2017': '12',
 '12/28/2017': '12',
 '12/29/2017': '12',
 '12/3/2017': '12',
 '12/4/2017': '12',
 '12/5/2017': '12',
 '12/6/2017': '12',
 '12/7/2017': '12',
 '12/9/2017': '12',
 '5/1/2017': '5',
 '5/10/2017': '5',
 '5/11/2017': '5',
 '5/12/2017': '5',
 '5/13/2017': '5',
 '5/14/2017': '5',
 '5/15/2017': '5',
 '5/16/2017': '5',
 '5/17/2017': '5',
 '5/18/2017': '5',
 '5/19/2017': '5',
 '5/2/2017': '5',
 '5/20/2017': '5',
 '5/21/2017': '5',
 '5/22/2017': '5',
 '5/23/2017': '5',
 '5/24/2017': '5',
 '5/25/2017': '5',
 '5/26/2017': '5',
 '5/27/2017': '6',
 '5/29/2017': '6',
 '5/3/2017': '5',
 '5/30/2017': '6',
 '5/31/2017': '6',
 '5/4/2017': '5',
 '5/5/2017': '5',
 '5/6/2017': '5',
 '5/7/2017': '5',
 '5/8/2017': '5',
 '5/9/2017': '5',
 '6/1/2017': '6',
 '6/10/2017': '6',
 '6/12/2017': '6',
 '6/13/2017': '6',
 '6/14/2017': '6',
 '6/15/2017': '6',
 '6/16/2017': '6',
 '6/17/2017': '6',
 '6/18/2017': '6',
 '6/19/2017': '6',
 '6/2/2017': '6',
 '6/20/2017': '6',
 '6/21/2017': '6',
 '6/22/2017': '6',
 '6/23/2017': '6',
 '6/24/2017': '6',
 '6/26/2017': '6',
 '6/27/2017': '6',
 '6/28/2017': '6',
 '6/29/2017': '6',
 '6/3/2017': '6',
 '6/30/2017': '6',
 '6/4/2017': '6',
 '6/5/2017': '6',
 '6/6/2017': '6',
 '6/7/2017': '6',
 '6/8/2017': '6',
 '6/9/2017': '6',
 '7/1/2017': '7',
 '7/10/2017': '7',
 '7/11/2017': '7',
 '7/12/2017': '7',
 '7/13/2017': '7',
 '7/14/2017': '7',
 '7/15/2017': '7',
 '7/16/2017': '7',
 '7/17/2017': '7',
 '7/18/2017': '7',
 '7/19/2017': '7',
 '7/2/2017': '7',
 '7/20/2017': '7',
 '7/21/2017': '7',
 '7/22/2017': '7',
 '7/23/2017': '7',
 '7/24/2017': '7',
 '7/25/2017': '7',
 '7/26/2017': '7',
 '7/27/2017': '7',
 '7/28/2017': '7',
 '7/29/2017': '8',
 '7/3/2017': '7',
 '7/31/2017': '8',
 '7/4/2017': '7',
 '7/5/2017': '7',
 '7/6/2017': '7',
 '7/7/2017': '7',
 '7/8/2017': '7',
 '8/1/2017': '8',
 '8/10/2017': '8',
 '8/11/2017': '8',
 '8/12/2017': '8',
 '8/13/2017': '8',
 '8/14/2017': '8',
 '8/15/2017': '8',
 '8/16/2017': '8',
 '8/17/2017': '8',
 '8/18/2017': '8',
 '8/19/2017': '8',
 '8/2/2017': '8',
 '8/20/2017': '8',
 '8/21/2017': '8',
 '8/22/2017': '8',
 '8/23/2017': '8',
 '8/24/2017': '8',
 '8/25/2017': '8',
 '8/26/2017': '9',
 '8/28/2017': '9',
 '8/29/2017': '9',
 '8/3/2017': '8',
 '8/30/2017': '9',
 '8/31/2017': '9',
 '8/4/2017': '8',
 '8/5/2017': '8',
 '8/7/2017': '8',
 '8/8/2017': '8',
 '8/9/2017': '8',
 '9/1/2017': '9',
 '9/11/2017': '9',
 '9/12/2017': '9',
 '9/13/2017': '9',
 '9/14/2017': '9',
 '9/15/2017': '9',
 '9/16/2017': '9',
 '9/17/2017': '9',
 '9/18/2017': '9',
 '9/19/2017': '9',
 '9/20/2017': '9',
 '9/21/2017': '9',
 '9/22/2017': '9',
 '9/23/2017': '9',
 '9/25/2017': '9',
 '9/26/2017': '9',
 '9/27/2017': '9',
 '9/28/2017': '9',
 '9/29/2017': '9',
 '9/3/2017': '9',
 '9/30/2017': '10',
 '9/4/2017': '9',
 '9/5/2017': '9',
 '9/6/2017': '9',
 '9/7/2017': '9',
 '9/8/2017': '9',
 '9/9/2017': '9'}

Проверка дали се пополнуваат точните полиња...

In [61]:
month[79841]

' '

In [62]:
month[80936]

' '

Во dataset-от овие вредности имаат index +2 од долунаведените.

Оваа вредност е пополнета со '5' бидејќи во dataset-от вредноста за FPE е иста со следната ставка (која има month = '5').

In [63]:
month[79841] = '5'

Оваа вредност е пополнета со '9' бидејќи двата соседни датуми во calendar-от ја имаат таа вредност.

In [64]:
month[80936] = '9'

Промена на типот на вредностите од string во int.

In [71]:
month_int = [int(month[i]) for i in range(len(month))]

In [73]:
set(month_int)

{5, 6, 7, 8, 9, 10, 11, 12}

Замена на month во dataset-от и export на dataset-от по оваа промена.

In [67]:
df.month = pd.Series(month)

In [75]:
df.to_csv('dataset/Spenser_1_1_month.tsv', sep='\t')