### Замена на типот на Calendarday во pandas.Timestamp

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/Spenser_1_3_team.tsv', sep='\t')
df

,CustomerID,Calendarday,month,PerformanceEvaluationPlanned,PerformanceEvaluationExecuted,PerformanceEvaluationAdHoc,TERRID,SAPECCSalesGroup,SAPECoeficient,APECoeficient,FPECoeficient,SAMEDAYVISIT,OVERDUE,UNDERDUE,OK,NOTOK,STATUS,V22,OVERDUEDAYS,TRESHOLD
0,100000136,5/1/2017,5,0,,,Employee 44,Team 1,,,,,,,,,,,,
1,100000136,5/4/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
2,100000136,5/8/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
3,100000136,5/11/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,ok,,ok,ok,,",15"
4,100000136,5/12/2017,5,,,,Employee 44,Team 1,,"79,4975","90,9875",,,,,,,not ok,,",15"
5,100000136,5/15/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
6,100000136,5/18/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
7,100000136,5/22/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
8,100000136,5/25/2017,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
9,100000136,5/29/2017,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
10,100000136,6/1/2017,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
11,100000136,6/5/2017,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
12,100000136,6/8/2017,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
13,100000136,6/12/2017,6,1,1,,Employee 44,Team 1,"92,8625",,"92,6328125",,,,,,,not ok,,",15"
14,100000136,6/15/2017,6,1,1,,Employee 44,Team 1,"94,75",,"92,6328125",,,,,,,not ok,,",15"
15,100000136,6/19/2017,6,0,,,Employee 44,Team 1,,,,,,,,,,,,
16,100000136,6/22/2017,6,1,1,,Employee 44,Team 1,"94,75",,"92,6328125",,,,,,,not ok,,",15"
17,100000136,6/26/2017,6,0,,,Employee 44,Team 1,,,,,,,,,,,,
18,100000136,6/29/2017,6,1,1,,Employee 44,Team 1,"94,75",,"92,6328125",,,,,,,not ok,,",15"
19,100000136,7/3/2017,7,1,1,,Employee 44,Team 1,"94,75",,95375,,,,,,,not ok,,",15"
20,100000136,7/6/2017,7,1,1,,Employee 44,Team 1,"94,75",,95375,,,,,,,not ok,,",15"
21,100000136,7/10/2017,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
22,100000136,7/13/2017,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
23,100000136,7/17/2017,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
24,100000136,7/20/2017,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
25,100000136,7/24/2017,7,1,1,,Employee 44,Team 1,96,,95375,,,,,,,not ok,,",15"
26,100000136,7/27/2017,7,1,1,,Employee 44,Team 1,96,,95375,,,,,,,not ok,,",15"
27,100000136,7/31/2017,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
28,100000136,8/3/2017,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
29,100000136,8/7/2017,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140167,100024705,10/25/2017,10,1,1,,Employee 57,Team 7,"62,81",,"59,87",,,,,,,not ok,,",15"
140168,100024705,11/1/2017,11,1,1,,Employee 57,Team 7,"57,86",,"64,21",,,,,,,not ok,,",15"
140169,100024705,11/8/2017,11,1,1,,Employee 57,Team 7,"66,3266666666667",,"64,21",,,,,,,not ok,,",15"
140170,100024705,11/15/2017,11,1,1,,Employee 57,Team 7,"66,3266666666667",,"64,21",,,,,,,not ok,,",15"
140171,100024705,11/22/2017,11,1,1,,Employee 57,Team 7,"66,3266666666667",,"64,21",,,,,,,not ok,,",15"
140172,100024705,11/29/2017,12,1,1,,Employee 57,Team 7,"53,5266666666667",,"56,1841666666667",,,,,,,not ok,,",15"
140173,100024705,12/6/2017,12,0,,,Employee 57,Team 7,,,,,,,,,,,,
140174,100024705,12/13/2017,12,1,1,,Employee 57,Team 7,"44,6408333333333",,"56,1841666666667",,,,,,,not ok,,",15"
140175,100024705,12/20/2017,12,1,1,,Employee 57,Team 7,"46,0491666666667",,"56,1841666666667",,,,,,,not ok,,",15"
140176,100024705,12/27/2017,12,1,1,,Employee 57,Team 7,"80,52",,"56,1841666666667",,,,,,,not ok,,",15"
140177,100024706,8/16/2017,8,0,,,Employee 59,Team 7,,,,,,,,,,,,
140178,100024706,8/23/2017,8,0,,,Employee 59,Team 7,,,,,,,,,,,,
140179,100024706,8/30/2017,9,1,1,,Employee 59,Team 7,"40,59",,"43,89",,,,,,,not ok,,",15"
140180,100024706,9/6/2017,9,1,1,,Employee 59,Team 7,"40,59",,"43,89",,,,,,,not ok,,",15"
140181,100024706,9/13/2017,9,1,1,,Employee 59,Team 7,"42,09",,"43,89",,,,,,,not ok,,",15"
140182,100024706,9/20/2017,9,0,,,Employee 59,Team 7,,,,,,,,,,,,
140183,100024706,9/27/2017,9,1,1,,Employee 59,Team 7,"52,29",,"43,89",,,,,,,not ok,,",15"
140184,100024706,10/4/2017,10,1,1,,Employee 59,Team 7,"52,29",,"55,2233333333333",,,,,,,not ok,,",15"
140185,100024706,10/11/2017,10,0,,,Employee 59,Team 7,,,,,,,,,,,,
140186,100024706,10/18/2017,10,1,1,,Employee 59,Team 7,"52,29",,"55,2233333333333",,,,,,,not ok,,",15"
140187,100024706,10/25/2017,10,1,1,,Employee 59,Team 7,"61,09",,"55,2233333333333",,,,,,,not ok,,",15"
140188,100024706,11/1/2017,11,1,1,,Employee 59,Team 7,"62,89",,"52,38375",,,,,,,not ok,,",15"
140189,100024706,11/8/2017,11,1,1,,Employee 59,Team 7,40815,,"52,38375",,,,,,,not ok,,",15"
140190,100024706,11/15/2017,11,1,1,,Employee 59,Team 7,40815,,"52,38375",,,,,,,not ok,,",15"
140191,100024706,11/22/2017,11,1,1,,Employee 59,Team 7,65015,,"52,38375",,,,,,,not ok,,",15"
140192,100024706,11/29/2017,12,0,,,Employee 59,Team 7,,,,,,,,,,,,
140193,100024706,12/6/2017,12,1,1,,Employee 59,Team 7,"39,5775",,"44,3275",,,,,,,not ok,,",15"
140194,100024706,12/13/2017,12,1,1,,Employee 59,Team 7,"39,5775",,"44,3275",,,,,,,not ok,,",15"
140195,100024706,12/20/2017,12,1,1,,Employee 59,Team 7,"39,5775",,"44,3275",,,,,,,not ok,,",15"
140196,100024706,12/27/2017,12,1,1,,Employee 59,Team 7,"58,5775",,"44,3275",,,,,,,not ok,,",15"

In [3]:
datetime = pd.to_datetime(df.Calendarday)

In [4]:
df.Calendarday = datetime
df

,CustomerID,Calendarday,month,PerformanceEvaluationPlanned,PerformanceEvaluationExecuted,PerformanceEvaluationAdHoc,TERRID,SAPECCSalesGroup,SAPECoeficient,APECoeficient,FPECoeficient,SAMEDAYVISIT,OVERDUE,UNDERDUE,OK,NOTOK,STATUS,V22,OVERDUEDAYS,TRESHOLD
0,100000136,2017-05-01,5,0,,,Employee 44,Team 1,,,,,,,,,,,,
1,100000136,2017-05-04,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
2,100000136,2017-05-08,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
3,100000136,2017-05-11,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,ok,,ok,ok,,",15"
4,100000136,2017-05-12,5,,,,Employee 44,Team 1,,"79,4975","90,9875",,,,,,,not ok,,",15"
5,100000136,2017-05-15,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
6,100000136,2017-05-18,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
7,100000136,2017-05-22,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
8,100000136,2017-05-25,5,1,1,,Employee 44,Team 1,"90,9875",,"90,9875",,,,,,,not ok,,",15"
9,100000136,2017-05-29,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
10,100000136,2017-06-01,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
11,100000136,2017-06-05,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
12,100000136,2017-06-08,6,1,1,,Employee 44,Team 1,"90,9875",,"92,6328125",,,,,,,not ok,,",15"
13,100000136,2017-06-12,6,1,1,,Employee 44,Team 1,"92,8625",,"92,6328125",,,,,,,not ok,,",15"
14,100000136,2017-06-15,6,1,1,,Employee 44,Team 1,"94,75",,"92,6328125",,,,,,,not ok,,",15"
15,100000136,2017-06-19,6,0,,,Employee 44,Team 1,,,,,,,,,,,,
16,100000136,2017-06-22,6,1,1,,Employee 44,Team 1,"94,75",,"92,6328125",,,,,,,not ok,,",15"
17,100000136,2017-06-26,6,0,,,Employee 44,Team 1,,,,,,,,,,,,
18,100000136,2017-06-29,6,1,1,,Employee 44,Team 1,"94,75",,"92,6328125",,,,,,,not ok,,",15"
19,100000136,2017-07-03,7,1,1,,Employee 44,Team 1,"94,75",,95375,,,,,,,not ok,,",15"
20,100000136,2017-07-06,7,1,1,,Employee 44,Team 1,"94,75",,95375,,,,,,,not ok,,",15"
21,100000136,2017-07-10,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
22,100000136,2017-07-13,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
23,100000136,2017-07-17,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
24,100000136,2017-07-20,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
25,100000136,2017-07-24,7,1,1,,Employee 44,Team 1,96,,95375,,,,,,,not ok,,",15"
26,100000136,2017-07-27,7,1,1,,Employee 44,Team 1,96,,95375,,,,,,,not ok,,",15"
27,100000136,2017-07-31,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
28,100000136,2017-08-03,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
29,100000136,2017-08-07,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140167,100024705,2017-10-25,10,1,1,,Employee 57,Team 7,"62,81",,"59,87",,,,,,,not ok,,",15"
140168,100024705,2017-11-01,11,1,1,,Employee 57,Team 7,"57,86",,"64,21",,,,,,,not ok,,",15"
140169,100024705,2017-11-08,11,1,1,,Employee 57,Team 7,"66,3266666666667",,"64,21",,,,,,,not ok,,",15"
140170,100024705,2017-11-15,11,1,1,,Employee 57,Team 7,"66,3266666666667",,"64,21",,,,,,,not ok,,",15"
140171,100024705,2017-11-22,11,1,1,,Employee 57,Team 7,"66,3266666666667",,"64,21",,,,,,,not ok,,",15"
140172,100024705,2017-11-29,12,1,1,,Employee 57,Team 7,"53,5266666666667",,"56,1841666666667",,,,,,,not ok,,",15"
140173,100024705,2017-12-06,12,0,,,Employee 57,Team 7,,,,,,,,,,,,
140174,100024705,2017-12-13,12,1,1,,Employee 57,Team 7,"44,6408333333333",,"56,1841666666667",,,,,,,not ok,,",15"
140175,100024705,2017-12-20,12,1,1,,Employee 57,Team 7,"46,0491666666667",,"56,1841666666667",,,,,,,not ok,,",15"
140176,100024705,2017-12-27,12,1,1,,Employee 57,Team 7,"80,52",,"56,1841666666667",,,,,,,not ok,,",15"
140177,100024706,2017-08-16,8,0,,,Employee 59,Team 7,,,,,,,,,,,,
140178,100024706,2017-08-23,8,0,,,Employee 59,Team 7,,,,,,,,,,,,
140179,100024706,2017-08-30,9,1,1,,Employee 59,Team 7,"40,59",,"43,89",,,,,,,not ok,,",15"
140180,100024706,2017-09-06,9,1,1,,Employee 59,Team 7,"40,59",,"43,89",,,,,,,not ok,,",15"
140181,100024706,2017-09-13,9,1,1,,Employee 59,Team 7,"42,09",,"43,89",,,,,,,not ok,,",15"
140182,100024706,2017-09-20,9,0,,,Employee 59,Team 7,,,,,,,,,,,,
140183,100024706,2017-09-27,9,1,1,,Employee 59,Team 7,"52,29",,"43,89",,,,,,,not ok,,",15"
140184,100024706,2017-10-04,10,1,1,,Employee 59,Team 7,"52,29",,"55,2233333333333",,,,,,,not ok,,",15"
140185,100024706,2017-10-11,10,0,,,Employee 59,Team 7,,,,,,,,,,,,
140186,100024706,2017-10-18,10,1,1,,Employee 59,Team 7,"52,29",,"55,2233333333333",,,,,,,not ok,,",15"
140187,100024706,2017-10-25,10,1,1,,Employee 59,Team 7,"61,09",,"55,2233333333333",,,,,,,not ok,,",15"
140188,100024706,2017-11-01,11,1,1,,Employee 59,Team 7,"62,89",,"52,38375",,,,,,,not ok,,",15"
140189,100024706,2017-11-08,11,1,1,,Employee 59,Team 7,40815,,"52,38375",,,,,,,not ok,,",15"
140190,100024706,2017-11-15,11,1,1,,Employee 59,Team 7,40815,,"52,38375",,,,,,,not ok,,",15"
140191,100024706,2017-11-22,11,1,1,,Employee 59,Team 7,65015,,"52,38375",,,,,,,not ok,,",15"
140192,100024706,2017-11-29,12,0,,,Employee 59,Team 7,,,,,,,,,,,,
140193,100024706,2017-12-06,12,1,1,,Employee 59,Team 7,"39,5775",,"44,3275",,,,,,,not ok,,",15"
140194,100024706,2017-12-13,12,1,1,,Employee 59,Team 7,"39,5775",,"44,3275",,,,,,,not ok,,",15"
140195,100024706,2017-12-20,12,1,1,,Employee 59,Team 7,"39,5775",,"44,3275",,,,,,,not ok,,",15"
140196,100024706,2017-12-27,12,1,1,,Employee 59,Team 7,"58,5775",,"44,3275",,,,,,,not ok,,",15"

Проверка дали сите вредности се точно променети.

In [5]:
incorrect = 0

for date in df.Calendarday:
    if type(date) is not pd._libs.tslib.Timestamp:
        incorrect += 1
        
print(incorrect)

0

Export на dataset-от по оваа промена.

In [6]:
df.to_csv('dataset/Spenser_1_4_calendar.tsv', sep='\t')