### Извлекување на подмножества од сите можни комбинации за PerformanceEvaluationPlanned, PerformanceEvaluationExecuted и PerformanceEvaluationAdHoc

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/Spenser_1_7_remove_v22_treshold.tsv', sep='\t')
df.index = pd.RangeIndex(start=2, stop=len(df)+2)
df.index.name = 'XLS_RowNumber'
df.head()

,CustomerID,Calendarday,month,PerformanceEvaluationPlanned,PerformanceEvaluationExecuted,PerformanceEvaluationAdHoc,TERRID,SAPECCSalesGroup,SAPECoeficient,APECoeficient,FPECoeficient,SAMEDAYVISIT,OVERDUE,UNDERDUE,OK,NOTOK,STATUS,OVERDUEDAYS
XLS_RowNumber,,,,,,,,,,,,,,,,,,
2,100000136,2017-05-01,5,0,,,Employee 44,Team 1,NaN,NaN,NaN,,,,,,,
3,100000136,2017-05-04,5,1,1,,Employee 44,Team 1,90.987,NaN,90.987,,,,,,,
4,100000136,2017-05-08,5,1,1,,Employee 44,Team 1,90.987,NaN,90.987,,,,,,,
5,100000136,2017-05-11,5,1,1,,Employee 44,Team 1,90.987,NaN,90.987,,,,ok,,ok,
6,100000136,2017-05-12,5,,,,Employee 44,Team 1,NaN,79.498,90.987,,,,,,,

#### Кои се можни вредности за PerformanceEvaluationPlanned, PerformanceEvaluationExecuted и PerformanceEvaluationAdHoc поединечно

In [3]:
set(df['PerformanceEvaluationPlanned'])

{' ', '0', '1'}

In [4]:
set(df['PerformanceEvaluationExecuted'])

{' ', '1'}

In [5]:
set(df['PerformanceEvaluationAdHoc'])

{' ', '1', '2'}

#### Сите можни комбинации за (Planned, Executed, AdHoc)

In [6]:
s = set(tuple([i[3], i[4], i[5]])
        for i in list(df.values))

s = sorted(list(s))

for i in s:
    print(i)

(' ', ' ', ' ')
(' ', ' ', '1')
(' ', ' ', '2')
('0', ' ', ' ')
('0', ' ', '1')
('1', ' ', ' ')
('1', ' ', '1')
('1', '1', ' ')
('1', '1', '1')

#### Извлекување и снимање на подмножества за сите можни комбинации за (Planned, Executed, AdHoc)

In [7]:
for i in s:
    p, e, a = i
    t = df[(df.PerformanceEvaluationPlanned == p) &
           (df.PerformanceEvaluationExecuted == e) &
           (df.PerformanceEvaluationAdHoc == a)]
    p = 'n' if p == ' ' else p
    e = 'n' if e == ' ' else e
    a = 'n' if a == ' ' else a
    t.to_csv('subsets/PerformanceEvaluation/{}_{}_{}.tsv'.format(p, e, a), sep='\t')